.addYourOwnStyling {
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  grid-gap: 15px;
}

.backButton {
  width: -webkit-fill-available;
  background-color: #5b8eec;
  border-radius: 10px;
}
.backButton:hover {
  background-color: #276cec;
  border-radius: 10px;
}

.backBttnText {
  color: white;
  text-decoration: none;
}

.typeAddOwn,
.peopleAddOwn {
  border-radius: 5px;

  background-color: #6491e4;

  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 30px;
}

.typeAddOwn {
  width: 150px;
}
.peopleAddOwn {
  width: 100px;
}

.addYourOwnStyling {
  background-image: linear-gradient(
    to right,
    #afa9ac,
    #b5a6b2,
    #b6a3bb,
    #b1a3c8,
    #a5a4d5,
    #99aada,
    #8db0de,
    #82b5df,
    #8cbcd6,
    #9cc1ce,
    #b0c5c9,
    #c4c8c8
  );
  height: calc(100vh - 260px);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.5vw;
  /* color: white; */
}

#fname,
#lname {
  margin-left: 30px;
  width: 270px;
}

.submitButton {
  border-radius: 30px;
}

.submitButton:hover {
  background-color: #5b8eec;
}
