.topHeader {
  background: linear-gradient(90deg, #8360c3 0%, #2ebf91 100%);
  font-size: 1.5vw;
  height: 200px;
  padding: 60px;
  scroll-snap-align: start;
  color: white;
  font-family: "Roboto Mono", monospace;
  /* border: 2px solid black;
  border-width: 50px; */
}

.applecopy {
  font-family: "Roboto", sans-serif;
  font-size: 1.2vw;
}
