.topHeader {
  background-image: linear-gradient(
    to right,
    #afa9ac,
    #b5a6b2,
    #b6a3bb,
    #b1a3c8,
    #a5a4d5,
    #99aada,
    #8db0de,
    #82b5df,
    #8cbcd6,
    #9cc1ce,
    #b0c5c9,
    #c4c8c8
  );
  font-size: 1.5vw;
  height: 200px;
  padding: 60px;
  scroll-snap-align: start;
  color: white;
  font-family: "Roboto Mono", monospace;
  /* border: 2px solid black;
  border-width: 50px; */
}

.applecopy {
  font-family: "Roboto", sans-serif;
  font-size: 1.2vw;
}
