.mainBodyStyling {
  background-image: linear-gradient(
    to right,
    #afa9ac,
    #b5a6b2,
    #b6a3bb,
    #b1a3c8,
    #a5a4d5,
    #99aada,
    #8db0de,
    #82b5df,
    #8cbcd6,
    #9cc1ce,
    #b0c5c9,
    #c4c8c8
  );
  height: calc(100vh - 260px);
}

.quoteStyling {
  padding-left: 60px;
  padding-top: 20px;
  border: 2px solid;
  border-style: groove;
  padding: 60px;
  display: grid;
  grid-auto-flow: column;
}

.activityStyle,
.typeStyle,
.participantsStyle {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.5vw;
  color: white;
}

.quoteStying {
  line-height: 2;
}

.spanMainQuote {
  color: rgb(66, 65, 65);
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}

.buttonsForSearch {
  padding: 30px;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  grid-gap: 20px;
  /* justify-content: center; */
}

.addFavSection {
  padding: 30px;
}

.randomButton,
.type,
.people,
.search,
.addFavouritesButton {
  border-radius: 5px;
  padding: 10px;

  border: none;
  color: white;
  background: transparent;

  border: 2px solid #4e4caf77;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.addYourOwnButton:hover,
.viewFavouitesButton:hover,
.viewFavouitesButton:hover,
.addFavouritesButton:hover,
.randomButton:hover,
.type:hover,
.people:hover,
.search:hover {
  background-color: #86a8e7;
}

.addYourOwnButton:active,
.viewFavouitesButton:active,
.viewFavouitesButton:active,
.addFavouritesButton:active,
.randomButton:active,
.type:active,
.people:active,
.search:active {
  background-color: #6a94e2;
}

.addFavouritesButton:active {
  background-color: rgba(255, 192, 203, 0.493);
}

.addYourOwnButton,
.viewFavouitesButton {
  display: block;
  color: white;
  width: 200px;
  height: 50px;
  justify-self: center;
  border-radius: 5px;

  text-align: center;

  font-size: 14px;
  margin: 30px;

  border-radius: 5px;
  padding: 10px;

  color: white;
  background: transparent;

  border: 2px solid #4e4caf77;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.hearticon {
  height: 40px;
}

.lightBulbIcon {
  height: 250px;
}

.addFavouritesButton {
  margin-top: 24px;
}

.addYourOwnText,
.goToFavText {
  color: white;
  text-decoration: none;
}

.labelStyling {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  padding: 20px;
}
